.grid-box{
  width: 50%;
  height: 50%;
}

#c{
  background-color: chartreuse;
}

#d{
  background-color: darkorange;
}

#e{
  background-color: #eeeeee;
}

#f{
  background-color: forestgreen;
}

#g{
  background-color: gold;
}

#h{
  background-color: hotpink;
}

@media(min-width: 768px){
  #c{
    background-color: coral;
  }
  
  #d{
    background-color: darkmagenta;
  }

  .grid-box{
    width: 25%;
    height: 100%;
  }

  #e{
    background-color: #EEE555;
  }
  
  #f{
    background-color: firebrick;
  }
  
  #g{
    background-color: gray;
  }
  
  #h{
    background-color: honeydew;
  }
}  

@media(min-width: 960px){
  header{
    background-color: azure;
  }

  #b{
    background-color: brown;
  }

  #c{
    background-color: crimson;
  }

  #d{
    background-color: darkolivegreen;
  }

  #e{
    background-color: #E5E5;
  }

  #f{
    background-color: fuchsia;
  }

  #g{
    background-color: greenyellow;
  }

  #h{
    background-color: #888888;
  }

  #i{
    background-color: ivory;
  }
}